# STM32CubeIDE / CMake build folders
build/
Debug/
Release/
*.o
*.elf
*.bin
*.map
*.d
*.dep
*.lst
*.axf
*.log
*.dmp
*.out
*.hex
*.i

# Ninja log files
*.ninja_log

# CMake files generated
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
*.cmake

# Eclipse / IDE metadata
.metadata/
*.launch
.settings/

# Backup files
*~
*.bak
*.swp
*.tmp

# JSON reply files from CMake API
*.json

# Ignore DS_Store (Mac) and Thumbs.db (Windows)
.DS_Store
Thumbs.db
